body {
    background-color: #EAF6F6;
}

hr {
    /* background-color: white; */
    border-style: none none dotted none;
    border-color: rgb(52, 157, 29);
    border-width: 5px;
    width: 5%;
    position: center;
}


h1 {
    color: #06048b;
    font-family: 'Lato', sans-serif;


}

h3 {
    
    color: #641af7;
    font-family: 'Lato', sans-serif;
    /* text-align: center; */
}

img {
    height: 12rem;
    width: 12rem;
    padding-top: 4px;
    padding-right: 5px;
    border-radius: 40rem;

}
a{
    text-decoration: none;
    color:rgb(119, 39, 39);
    padding-right: 30px;
    
    
}
a:hover{
    background-color: rgb(47, 4, 4);
}

form {
    display: inline;
}